* {
    font-family: Arial, Helvetica, sans-serif; 
    
}

body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#form1 {
    background-color: blueviolet;
    border-radius: 10px;
    padding: 8px
}

#titulo {
    padding-bottom: 5px;
}

.campo {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 5px;
}

label {
    padding-right: 3px;
}

input {
    border-radius: 8px;
    border: 1px solid black;
}

hr {
    border-color: black;
}